<div class="login-page">

  <img src="assets/images.png" alt="Logo" class="top-left-logo" />

  <div class="login-container">
    <h2>Login</h2>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email">
        <mat-error *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
          Enter a valid email
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password">
        <mat-error *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
          Password is required
        </mat-error>
      </mat-form-field>



      <div>
        <a [routerLink]="['/signup']">Don't have an account?</a>
      </div>

      <div class="login-error" *ngIf="loginError">
        {{ loginError }}
      </div>

      <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid || loading">
        {{ loading ? 'Signing in...' : 'Login' }}
      </button>
    </form>
  </div>
</div>
