<div class="login-page">

  <img alt="Logo" class="top-left-logo" src="assets/images.png"/>

  <div class="login-container">
    <h2>Login</h2>

    <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Email</mat-label>
        <input formControlName="email" matInput type="email">
        <mat-error *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
          Enter a valid email
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Password</mat-label>
        <input formControlName="password" matInput type="password">
        <mat-error *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
          Password is required
        </mat-error>
      </mat-form-field>


      <div>
        <a [routerLink]="['/signup']">Don't have an account?</a>
      </div>

      <div *ngIf="loginError" class="login-error">
        {{ loginError }}
      </div>

      <button [disabled]="loginForm.invalid || loading" color="primary" mat-raised-button type="submit">
        {{ loading ? 'Signing in...' : 'Login' }}
      </button>
    </form>
  </div>
</div>
