<div class="signup-page">
  <img alt="Logo" class="top-left-logo" src="assets/images.png"/>

  <div class="signup-container">
    <h2>Create account</h2>

    <form (ngSubmit)="onSubmit()" [formGroup]="signupForm">

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Name</mat-label>
        <input formControlName="name" matInput type="text">
        <mat-error *ngIf="signupForm.get('name')?.invalid && signupForm.get('name')?.touched">
          Name is required (min 3 characters)
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Email</mat-label>
        <input formControlName="email" matInput type="email">
        <mat-error *ngIf="signupForm.get('email')?.invalid && signupForm.get('email')?.touched">
          Enter a valid email
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Password</mat-label>
        <input formControlName="password" matInput type="password">
        <mat-error *ngIf="signupForm.get('password')?.invalid && signupForm.get('password')?.touched">
          Password is required (min 6 characters)
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Confirm Password</mat-label>
        <input formControlName="confirmPassword" matInput type="password">
        <mat-error *ngIf="signupForm.hasError('passwordsMismatch') && signupForm.get('confirmPassword')?.touched">
          Passwords do not match
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Role</mat-label>
        <mat-select formControlName="role">
          <mat-option value="employee">Employee</mat-option>
          <mat-option value="project-manager">Project Manager</mat-option>
        </mat-select>
        <mat-error *ngIf="signupForm.get('role')?.invalid && signupForm.get('role')?.touched">
          Role is required
        </mat-error>
      </mat-form-field>

      <div *ngIf="apiError" class="signup-error">{{ apiError }}</div>
      <div *ngIf="successMessage" class="signup-success">{{ successMessage }}</div>

      <button [disabled]="signupForm.invalid || loading" color="primary" mat-raised-button type="submit">
        {{ loading ? 'Signing up...' : 'Sign Up' }}
      </button>


    </form>
  </div>
</div>
