<mat-sidenav-container class="sidenav-container">
  <mat-sidenav class="sidenav" mode="side" opened>
    <mat-toolbar color="primary">
      <span class="brand">Dashboard</span>
      <span class="spacer"></span>
    </mat-toolbar>

    <mat-nav-list>
      <a
        (click)="onNavItemClick(item, $event)"
        *ngFor="let item of menuItems"
        [class.action-only]="item.action && !item.route"
        [routerLink]="item.route || null"
        mat-list-item
        routerLinkActive="active"
      >
        <mat-icon>{{ item.icon }}</mat-icon>
        {{ item.label }}
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="main-content">
    <div *ngIf="currentUser" class="welcome-box">
      Welcome {{ currentUser.name || currentUser.email }} 👋
      <div *ngIf="currentUser" class="user-message">
        <ng-container *ngIf="currentUser.role === 'project-manager'; else normalMessage">
          🧑‍💼 Project Manager — 👨‍💻 Employees: {{ stats.employees }} •
          <span
            (click)="openIdleEmployees()"
            class="clickable"
            matTooltip="Click to see employees with no active tasks">
      ⭕ {{ stats.employeesWithoutActiveTasks }} have no tasks
    </span>
          • Manage your team
        </ng-container>

        <ng-template #normalMessage>
          {{ userMessage }}
        </ng-template>
      </div>

    </div>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
