<div class="page">

  <h2> Employees Without Active Tasks</h2>

  <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>

  <div *ngIf="!loading" class="table-wrapper">
    <table [dataSource]="employees" class="mat-elevation-z8 tasks-table" mat-table>

      <!-- Name -->
      <ng-container matColumnDef="name">
        <th *matHeaderCellDef mat-header-cell>ID / Name</th>
        <td *matCellDef="let e" mat-cell>{{ e.id }} - {{ e.name }}</td>
      </ng-container>

      <!-- Email -->
      <ng-container matColumnDef="email">
        <th *matHeaderCellDef mat-header-cell>Email</th>
        <td *matCellDef="let e" mat-cell>{{ e.email }}</td>
      </ng-container>

      <!-- Total Tasks -->
      <ng-container matColumnDef="totalTasks">
        <th *matHeaderCellDef mat-header-cell>Tasks</th>
        <td *matCellDef="let e" mat-cell>
          <a
            (click)="goToTasks(e.id)"
            *ngIf="e.totalTasks > 0; else noTasks"
            class="task-link clickable"
          >
            {{ e.totalTasks }}
          </a>

          <ng-template #noTasks>
      <span class="task-link disabled">
        {{ e.totalTasks }}
      </span>
          </ng-template>
        </td>
      </ng-container>


      <!-- Status -->
      <ng-container matColumnDef="status">
        <th *matHeaderCellDef mat-header-cell>Status</th>
        <td *matCellDef="let e" mat-cell>
          <span [ngClass]="e.status.toLowerCase()" class="status-badge">
            {{ e.status }}
          </span>
        </td>
      </ng-container>

      <!-- Action -->
      <ng-container matColumnDef="action">
        <th *matHeaderCellDef mat-header-cell>Assign Task</th>
        <td *matCellDef="let employee" mat-cell>
          <button (click)="assignTask(employee)" color="primary" mat-icon-button matTooltip="Assign Task">
            <mat-icon>add_task</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
      <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>

    </table>

    <p *ngIf="employees.length === 0" class="empty">
      All employees have active tasks
    </p>
  </div>

</div>
